d# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
.RDataTmp
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# pkgdown sit
# translation temp files
po/*~
# RStudio Connect folder
rsconnect/
/.quarto/
*.pdf
*.gl*
*.ist
*.xdy
HDJ-TO-Hemato.Rproj
data/
*.tex
README_files
tmp-pdfcrop-*.tex
fig.zip

**/*.quarto_ipynb
.Rproj.user
